<div [hidden]="!submitted" class="alert {{alertcolor}} alert-dismissible fade show" role="alert">
    <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
        <span aria-hidden="true">&times;</span>
    </button>
    <div [innerHTML]="alertmsg"></div>
</div>
<h3>Update a Currency</h3>
<div style="width: 300px;">
    <form [formGroup]="currencyForm" (ngSubmit)="onSubmit(currencyForm.value)" ngNativeValidate>

        <div class="form-group">
            <label for="id"></label>
            <input type="text" hidden class="form-control" id="id" required formControlName="id">
        </div>

        <div class="form-group">
            <label for="code">Code</label>
            <input type="text" class="form-control" id="code" required formControlName="code">
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" required formControlName="description">
        </div>

        <div class="form-group">
            <label for="decimal_place">Decimal place</label>
            <input type="text" class="form-control" id="decimal_place" required formControlName="decimal_place">
        </div>

        <div class="form-group">
            <label for="symbol">Symbol</label>
            <input type="text" class="form-control" id="symbol" required formControlName="symbol">
        </div>

        <button type="submit" class="btn btn-success">Update</button>
        <button class="btn btn-secondary" routerLink="/admin/currencies" routerLinkActive="active">Go back</button>
    </form>
</div>
