<div [hidden]="!submitted" class="alert {{alertcolor}} alert-dismissible fade show" role="alert">
    <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
        <span aria-hidden="true">&times;</span>
    </button>
    <div [innerHTML]="alertmsg"></div>
</div>
<h3>Update a Client</h3>
<div style="width: 300px;">
    <form [formGroup]="clientForm" (ngSubmit)="onSubmit(clientForm.value)" ngNativeValidate>

        <div class="form-group">
            <label for="id"></label>
            <input type="text" hidden class="form-control" id="id" required formControlName="id">
        </div>

        <div class="form-group">
            <label for="code">Code</label>
            <input type="text" class="form-control" id="code" required formControlName="code">
        </div>

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" required formControlName="name">
        </div>

        <div class="form-group">
            <label for="fiscal_number">Fiscal Number</label>
            <input type="text" class="form-control" id="fiscal_number" formControlName="fiscal_number">
        </div>

        <div class="form-group">
            <label for="vat_number">VAT Number</label>
            <input type="text" class="form-control" id="vat_number" formControlName="vat_number">
        </div>

        <div class="form-group">
            <label for="clientType">Client type</label>
            <select class="form-control" id="clientType"  required formControlName="clientType" [compareWith]="compareFn">
                <option *ngFor="let clientType of clientTypes | async" [ngValue]="clientType">{{ clientType.name }}</option>
            </select>
            <button (click)="addClientType()" class="btn btn-primary fa fa-plus" role="button" routerlinkactive="active"></button>
        </div>

        <div class="form-group">
            <label for="tel_number">Phone Number</label>
            <input type="text" class="form-control" id="tel_number" required formControlName="tel_number">
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" required formControlName="email">
        </div>

        <div class="form-group">
            <label for="address1">Address 1</label>
            <input type="text" class="form-control" id="address1" formControlName="address1">
        </div>

        <div class="form-group">
            <label for="address2">Address 2</label>
            <input type="text" class="form-control" id="address2" formControlName="address2">
        </div>

        <div class="form-group">
            <label for="zip_code">Zip code</label>
            <input type="text" class="form-control" id="zip_code" formControlName="zip_code">
        </div>

        <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" formControlName="city">
        </div>

        <div class="form-group">
            <label for="country">Country</label>
            <select class="form-control" id="country" required formControlName="country" [compareWith]="compareFn">
                <option *ngFor="let country of countries | async" [ngValue]="country">{{country.name}}</option>
            </select>
        </div>

        <button type="submit" class="btn btn-success">Update</button>
        <button class="btn btn-secondary" routerLink="/admin/clients" routerLinkActive="active">Go back</button>
    </form>
</div>
