<div [hidden]="!submitted" class="alert {{alertcolor}} alert-dismissible fade show" role="alert">
    <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
        <span aria-hidden="true">&times;</span>
    </button>
    <div [innerHTML]="alertmsg"></div>
</div>
<h3>Update a EmployeeType</h3>
<div style="width: 300px;">
    <form [formGroup]="departmentResponsibleForm" (ngSubmit)="onSubmit(departmentResponsibleForm.value)" ngNativeValidate>

        <div class="form-group">
            <label for="id"></label>
            <input type="text" hidden class="form-control" id="id" required formControlName="id">
        </div>

        <div class="form-group">
            <label for="department">Department</label>
            <select class="form-control" id="department"  required formControlName="department" [compareWith]="compareFn">
                <option *ngFor="let department of departments | async" [ngValue]="department">{{department.company.name}}: {{department.name}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="employee">Employee</label>
            <select class="form-control" id="employee"  required formControlName="employee" [compareWith]="compareFn">
                <option *ngFor="let employee of employees | async" [ngValue]="employee">{{employee.personal_number}} >> {{employee.first_name}} {{employee.last_name}}</option>
            </select>
        </div>

        <button type="submit" class="btn btn-success">Update</button>
        <button class="btn btn-secondary" routerLink="/admin/departmentResponsibles" routerLinkActive="active">Go back</button>
    </form>
</div>
