<h3>Add a new Employee</h3>
<div [hidden]="submitted" style="width: 300px;">
    <form (ngSubmit)="onSubmit()" ngNativeValidate>
        <div class="form-group">
            <label for="user">User</label>
            <select class="form-control" id="user" data-show-subtext="true" data-live-search="true" required [(ngModel)]="employee.user" name="user">
                <option *ngFor="let user of users | async" [ngValue]="user">{{user.username }}</option>
            </select>
            <button (click)="addUser()" class="btn btn-primary fa fa-plus" role="button" routerlinkactive="active"></button>
        </div>
        <div class="form-group">
            <label for="personal_number">Personal number</label>
            <input type="text" class="form-control" id="personal_number" required [(ngModel)]="employee.personal_number" name="personal_number">
        </div>

        <div class="form-group">
            <label for="first_name">First name</label>
            <input type="text" class="form-control" id="first_name" required [(ngModel)]="employee.first_name" name="first_name">
        </div>

        <div class="form-group">
            <label for="last_name">Last name</label>
            <input type="text" class="form-control" id="last_name" required [(ngModel)]="employee.last_name" name="last_name">
        </div>

        <div class="form-group">
            <label for="tel_number">Phone Number</label>
            <input type="text" class="form-control" id="tel_number" [(ngModel)]="employee.tel_number" name="tel_number">
        </div>

        <div class="form-group">
            <label for="internal_number">Internal  Number</label>
            <input type="text" class="form-control" id="internal_number" [(ngModel)]="employee.internal_number" name="internal_number">
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="employee.email" name="email">
        </div>

        <div class="form-group">
            <label for="department">Department</label>
            <select class="form-control" id="department" required [(ngModel)]="employee.department" name="department">
                <option *ngFor="let department of departments | async" [ngValue]="department">{{department.name }}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="responsible">Responsible</label>
            <select class="form-control" id="responsible" [(ngModel)]="employee.responsible" name="responsible">
                <option [ngValue]="null">---</option>
                <option *ngFor="let responsible of responsibles  | async" [ngValue]="responsible.id">{{responsible.personal_number}} >> {{responsible.first_name}} {{responsible.first_name}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="address1">Address 1</label>
            <input type="text" class="form-control" id="address1" [(ngModel)]="employee.address1" name="address1">
        </div>

        <div class="form-group">
            <label for="address2">Address 2</label>
            <input type="text" class="form-control" id="address2" [(ngModel)]="employee.address2" name="address2">
        </div>

        <div class="form-group">
            <label for="zip_code">Zip code</label>
            <input type="text" class="form-control" id="zip_code" [(ngModel)]="employee.zip_code" name="zip_code">
        </div>

        <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" [(ngModel)]="employee.city" name="city">
        </div>

        <div class="form-group">
            <label for="country">Country</label>
            <select class="form-control" id="country" required [(ngModel)]="employee.country" name="country">
                <option *ngFor="let country of countries | async" [ngValue]="country">{{country.name}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="birthday">Birthday</label>
            <input type="date" class="form-control" id="birthday" [(ngModel)]="employee.birthday" name="birthday">
        </div>

        <div class="form-group">
            <div class="radio" >
                Gender
                <label class="btn btn-default blue">
                    <input type="radio" class="toggle" value="1" name="gender" [(ngModel)]="employee.gender">Male
                </label>
                <label class="btn btn-default blue">
                    <input type="radio" class="toggle" value="0" name="gender" [(ngModel)]="employee.gender">Female
                </label>
            </div>
        </div>

        <div class="form-group">
            <div class="radio" >
                Driver license
                <label class="btn btn-default blue">
                    <input type="radio" class="toggle" value="1" name="driver_license" [(ngModel)]="employee.driver_license">Yes
                </label>
                <label class="btn btn-default blue">
                    <input type="radio" class="toggle" value="0" name="driver_license" [(ngModel)]="employee.driver_license">No
                </label>
            </div>
        </div>

        <div class="form-group">
            <label for="position">Position</label>
            <input type="text" class="form-control" id="position" [(ngModel)]="employee.position" name="position">
        </div>

        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" [(ngModel)]="employee.title" name="title">
        </div>

        <div class="form-group">
            <div class="radio" >
                Authorized approver
                <label class="btn btn-default blue">
                    <input type="radio" class="toggle" value="1" name="authorized_approver" required [(ngModel)]="employee.authorized_approver">Yes
                </label>
                <label class="btn btn-default blue">
                    <input type="radio" class="toggle" value="0" name="authorized_approver" required [(ngModel)]="employee.authorized_approver">No
                </label>
            </div>
        </div>


        <button type="submit" class="btn btn-success">Submit</button>
        <button class="btn btn-secondary" routerLink="/admin/employees" routerLinkActive="active">Go back</button>
    </form>
</div>
<div [hidden]="!submitted">
    <h4>You submitted successfully!</h4>
    <button class="btn btn-success" (click)="newEmployee()">Add</button>
    <button class="btn btn-secondary" routerLink="/admin/employees" routerLinkActive="active">Go back</button>
</div>
